/*
 * Variables
 */

// Colors
$brand-orange: #f18105;
$text-default: #838a8f;
$text-dark: #2e3840;

// Spacing and sizes
$default-spacing: 14px;
$input-border-radius: 4px;
$container-max-width: 1176px;

// Fonts
$default-font-size: 14px;